<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ltd.thenine.dao.ISave_user_prRelDao">
    <resultMap id="BaseResultMap" type="ltd.thenine.entity.User_PrRel">
    </resultMap>
    <insert id="save_user_prRel" parameterType="ltd.thenine.entity.User_PrRel">
        insert into User_PrRel(program_id,user_id)
        values (#{program_id},#{user_id})
    </insert>
</mapper>