<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ltd.thenine.dao.ITeam_PoRelDao">
    <resultMap id="BaseResultMap" type="ltd.thenine.entity.Team_PoRel">
    </resultMap>

    <select id="searchTeam" resultMap="BaseResultMap" parameterType="ltd.thenine.entity.Team_PoRel">
        SELECT *
        from Team_PoRel
        where position_id = #{position_id};
    </select>


</mapper>