<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ltd.thenine.dao.IUser_PrRelDao">
    <resultMap id="BaseResultMap" type="ltd.thenine.entity.User_PrRel">
    </resultMap>

    <select id="searchUser" resultMap="BaseResultMap" parameterType="ltd.thenine.entity.User_PrRel">
        SELECT *
        from User_PrRel
        where program_id = #{program_id};
    </select>

</mapper>