{% extends "blog/base.html" %}

{% block content %}	
	<div class="jumbotron">
	  <h1 class="display-4">Hello, world!</h1>
	  <p class="lead">This is a management website for the school's course team, which is only open to the school staff. If you are a student of the school, please click the button below to log in.</p>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log in</a>
	  </p>
	  <hr class="my-4">
	  <p>This website is currently only open to the school; if you are not teachers or students of our school, you will not be able to use it. If you have any questions, please contact: emailNM@123.com</p>
	</div>
{% endblock content %}

